html
    head
        title CTS ---- DATA
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css" type="text/css")
        link(rel="stylesheet" href="css/index.css" type="text/css")


    body
        nav(class="nav")
            img(src="images/logo.jpg" width="105px")
            h3 PANEL USUARIO






        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js")
        script(src="js/index.js")