html
    head
        title CTS ---- DATA
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css" type="text/css")
        link(rel="stylesheet" href="css/index.css" type="text/css")


    body
        nav
            .nav-wrapper
                img(src="assets")





        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js")