html
    head
        title CTS ---- DATA
        link(rel="stylesheet" href="css/index.css" type="text/css")


    body
        nav(class="menu")
            img(src="images/logo.jpg" width="105px")
            h3 PANEL USUARIO






        script(src="js/index.js")